<div class="page-title" id="pageTitle">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
        <div>
          <h1 class="mb-0 text-primary">{{ params.title }}</h1>
          <p class="mb-0">{{ params.summary }}</p>
        </div>
        {%- if params.github -%}
          <div class="mt-8 mt-lg-0 edit-github">
            <a href="{{ params.repository }}{{ params.path }}" class="btn btn-primary btn-shadow">
              <span class="fab fa-github" aria-hidden="true"></span>
              {{ params.buttonText | default('Edit on GitHub', true) }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>