<div class="page-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
        <div class="mb-2 mb-lg-0">
          <h1 class="page-title-text">{{ params.title }}</h1>
          <p class="mb-0">{{ params.summary }}</p>
        </div>
        {%- if params.github -%}
          <div class="edit-github">
            <a href="{{ params.repository }}{{ params.path }}" class="btn btn-primary btn-shadow">
              <span class="fab fa-github mr-1 me-1" aria-hidden="true"></span>
              {{ params.buttonText | default('Edit on GitHub', true) }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
