{%- from "../../components/sitemap/macro.njk" import sitemap -%}

{%- extends "./guide.njk" -%}

{%- block guideTableOfContents -%}
{%- endblock -%}

{%- block guideMainContent -%}
  {%- block sitemapHeader -%}
  {%- endblock -%}

  {%- block sitemapContent -%}
    {{ sitemap({
      pages: collections.all | eleventyNavigation
    }) }}
  {%- endblock -%}

  {%- block sitemapFooter -%}
  {%- endblock -%}
{%- endblock -%}
