<div class="card page-toc">
  <div class="card-body">
    <details id="toc" class="page-contents">
      <summary class="summary">
        <h2 class="h6 d-inline" id="on-this-page">{{ params.title | default('On this page:', true) }}</h2>
      </summary>
      <nav aria-labelledby="on-this-page">
        {{ params.content | toc | safe }}
      </nav>
    </details>
  </div>
</div>
