<div class="card page-toc">
  <div class="card-body">
    <details id="toc" class="page-contents" open="">
      <summary class="summary">
        <h2 class="h6 d-inline" id="toc-header">{{ params.title | default('On this page:', true) }}</h2>
      </summary>
      <nav aria-labelledby="toc-header">
        {{ params.content | toc | safe }}
      </nav>
    </details>
  </div>
</div>
