<div class="official-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="media align-items-center">
          <img src="/pelican/img/louisiana-state-seal.png" alt="Louisiana State Seal" class="img-official">
          <div class="media-body ml-2">
            <p class="mt-lg-1 mb-0">
              An official Louisiana.gov website.
              <button class="expander btn btn-link border-0 bg-transparent shadow-none btn-sm text-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                How do I know? <span class="fas fa-angle-down" aria-hidden="true"></span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-1 collapse" id="collapseExample">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="media">
          <img src="/pelican/img/icon-dot-gov.svg" alt=".gov logo" class="align-self-start img-official">
          <div class="media-body ml-2">
            <p class="mb-0"><span class="font-weight-bolder">The .gov means it&rsquo;s official.</span></p>
            <p class="mb-0">Louisiana government websites often end in .gov. Before sharing sensitive information, make sure you&rsquo;re on a Louisiana government site.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <div class="media">
          <img src="/pelican/img/icon-https.svg" alt="Secure site icon" class="align-self-start img-official">
          <div class="media-body ml-2">
            <p class="mb-0"><span class="font-weight-bolder">The site is secure. </span></p>
            <p class="mb-0">The <span class="font-weight-bolder">https://</span> ensures that you are connecting to the official website and that
              any information you provide is encrypted and transmitted securely.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
