.pelican-docs {
  .sidebar-content {
    height: 100%;
    max-height: unset;
  }

  .brand-link::after {
    display: none!important;
  }

  #resources + ul li a {
    text-decoration: none;
  }

  .pd-color-block {
    height: 160px;
  }

  .text-shadow {
    text-shadow: 0px 04px 03px rgba(0, 0, 0, 0.4),
                0px 08px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  h2:not(:nth-child(1)),
  h3:not(.card-body *),
  h4,
  h5 {
    margin-top: 36px;
    margin-bottom: 15px;
  }

  .alert p:last-child {
    margin-bottom: 0;
    display: inline;
    margin-left: .5em;
  }

  .toc ol, .toc ul {
    padding: 0 0 0 18px;
  }

  dt>code {
    font-weight: 400;
  }

  .card-body > dl {
    padding: 0 0 0 15px;
  }

  .contains-task-list {
    padding-left: 1em;
  }
  .contains-task-list li {
    list-style: none;
  }
  .contains-task-list input {
    display: inline-block;
    margin-right: 0.25em;
  }

  .col-12 > .area-divider:first-child {
    display: none;
  }

  @media screen and (min-width: 1200px){
    .container-fluid, .breadcrumb {
      padding-right: 24px;
      padding-left:  24px;
    }

    .wrapper-topbar {
      padding-left:  14px;
      padding-right: 14px;
    }
  }

  .btns-previous-next {
    margin-top: auto;
  }
  .content-area p:not(.lead), .content-area li,
  .content-area li:not(:list-group-item) {
    max-width: 80ch;
  }
  .content-area li {
    line-height: 1.5;
  }
  .content-area li:not(:last-child),
  .content-area li:not(:list-group-item) {
    margin-bottom: .3125rem;
  }

  @media print {
    #ScrollToTop, 
    .edit-github, 
    .breadcrumb-wrapper, 
    .btns-previous-next, 
    .skip-to-main, 
    .page-toc,
    #sidebar,
    #footer,
    #wrapper-topbar,
    #sidebar-button {
      display: none !important;
    }

    .page-wrapper,
    .wrapper-main {
      height: unset;
      position: unset;
    }
    .page-wrapper,
    .page-content {
      padding: none;
      width: unset;
      overflow-x: unset;
      transition: unset;
    }
  }
}
