<a id="skipToMain" class="skip-to-main" href="{{ params.url | default('#main', true) }}" tabindex="1">
  {{ params.html | safe if params.html else params.text | default('Skip to Main Content', true) }}
</a>
