{%- from "../components/page-title/macro.njk" import pageTitle -%}
{%- extends "./base.njk" -%}

{%- block officialBanner -%}
{%- endblock -%}

{%- block content -%}
  <div id="page-wrapper" class="page-wrapper">
    <div id="wrapper-main" class="wrapper-main">
      {%- block pageNavbar -%}
      {%- endblock -%}

      <main id="main" class="main flex-fill"> 
        {%- block pageContentStart -%}
        {%- endblock -%}

        {%- block pageContent -%}
          {{ content | safe }}
        {%- endblock -%}

        {%- block pageContentEnd -%}
        {%- endblock -%}
      </main>

      {%- block pageFooter -%}
      {%- endblock -%}
    </div>
  </div>
{%- endblock -%}
